<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="local" connectionString="Server=localhost;Database=website;User=root;Password=root;"/>
    <add name="remote" connectionString="Server=213.161.27.59;Port=5000;Database=website;User=root;Password=root;"/>
    <add name="odbc" connectionString="dsn=mojtest"/>
  </connectionStrings>
  <appSettings>
    <add key="generalSettings" value="local"/>
    <add key="odbcConnectionString" value="odbc"/>
    <add key="localConnectionString" value="local"/>
    <add key="remoteConnectionString" value="remote"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
