<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
      <add name="local" connectionString="Driver={MySQL ODBC 5.2w Driver};Server=localhost;Database=website;User=root;Password=root;"/>
      <add name="remote" connectionString="Driver={MySQL ODBC 5.2w Driver};Server=213.161.27.59;Port=5000;Database=website;User=root;Password=root;"/>
      <add name="odbc" connectionString="dsn=mojtest"/>
  </connectionStrings>
  <appSettings>
    <add key="generalSettings" value="local"/>
    <add key="odbcConnectionString" value="odbc"/>
    <add key="localConnectionString" value="local"/>
    <add key="remoteConnectionString" value="remote"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
